
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('fhiback.jpg') no-repeat center center fixed;
    background-size: cover;
}


#frameDiv {	
  width: 1000px;    /* Base width */
  height: 513px;   /* Base height */
  background-image: url("fivehorizonintersection.png");  /* Optional background color for visibility */
  background-size: 100% 100%;
}
