
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('tfhBackground.jpg') no-repeat center center fixed;
    background-size: cover;
}



#frameDiv {	
  width: 1000px;    /* Base width */
  height: 562px;   /* Base height */
  background-image: url("fourbedroomgarden.png");  /* Optional background color for visibility */
  background-size: 100% 100%;
}