
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('tfhBackground.jpg') no-repeat center center fixed;
    background-size: cover;
}

img {
    position: absolute;
    height: 20%; /* Adjust image size as needed */
    width: auto;
    cursor: grab;
}

#frameDiv {	
  width: 700px;    /* Base width */
  height: 492px;   /* Base height */
  background-image: url("threefloorhome.png");  /* Optional background color for visibility */
  background-size: 100% 100%;
}